.venv/
__pycache__/
*.pyc
*.pyo
.env
db.sqlite3
staticfiles/
media/
logs/
temp_files/
htmlcov/
.coverage
.pytest_cache/
node_modules/
theme/static_src/node_modules/
dist/
!musicmaisCSS/static/css/dist/styles.css
build/
*.egg-info/
.DS_Store
Thumbs.db
